.projects-row {
    display: flex;
    flex-direction: row;

    .projects-year {
        margin-left: 10px;
        margin-right: 7px;
        color: #999999;
        font-size: 16px;
    }


    .projects-item {
        border-left: 5px solid #ccc;

        &>ul {
            margin-top: 7px;
            padding-left: 10px;
            font-size: 14px;
            list-style-type: none;

            li {
                display: flex;
                align-items: center;
                margin-top: 5px;

                a {
                    color: rgb(102, 102, 102);
                    text-decoration: none;
                }
            }
        }
    }

}
