$font-size :14px;

.wordExperience-item {
    margin: 0px 0px 15px 10px;

    h5,
    p {
        margin: 0;
    }

    h5 {
        font-size: $font-size;
        line-height: 1.4;
    }

    .wordExperience-year {
        font-size: $font-size;
        color: #bbbbbb;
    }

    .wordExperience-content {
        font-size: $font-size;
    }

}
