.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: 5px;
}

.Introduction {
    margin-left: 10px;

    &>span {
        font-size: 15px;
    }
}

.profiles-link {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px 0px 0px 0px;
    padding: 0px;

    &>li {
        margin-top: 5px;
    }

    &>li>a {
        color: rgb(102, 102, 102);
    }

}
