.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.33rem;
  padding: 10px;
}

.item-title {
  display: flex;
  align-items: center;
  color: rgb(0, 164, 103);
  font-size: 16px;

  &>span {
    padding-top: 3px;
    padding-left: 0.2rem;
  }

}
