.skills-item {
    list-style-type: none;
    margin: 0px 0px 0px 5px;
    padding: 0px;

    &>li {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 14px;

        span {
            margin-top: 5px;
        }
    }

}
